.s-p-main{
    background-image: url("../../../images/second-page/main/main.jpg");
    background-size: cover;
    background-position:center;
    padding: 75px;
}
.s-p-wrapper{
    max-width: 100%;
    width: 970px;
    align-items: center;
    justify-content: center;
}