.check-box {
    @include flex();
    &:not(:first-child){
        margin-top: 15px;
    }

    &__input {
        display: none;
        &:checked~.check-box__icon{
            background-color:#2091F9;
            &~.check-box__text{
                color: #252B42;
            }
        }
        

    }

    &__icon {
        width: 25px;
        height: 25px;
        border: 2px solid #DCDCDC;
        border-radius: 5px;
        align-items: center;
        padding-left: 4px;
        &:hover{
            border: 2px solid #2091F9;
        }

    }
    &__text{
        @include h6-text(#737373);
        margin-left: 15px;
    }
    &__cost{
        @include h6-text(#737373);
        margin-left: auto;
    }

}